/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*--------------------------
 common styles or utilities
 --------------------------*/

body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-top:70px;
    margin-right: 210px;
    margin-left: 180px;
}
.second-container{
    margin-left: 180px;
    margin-top: 50px;
    display: flex;
}
.section-title{
    margin-bottom: 33px;
    margin-top: 3px;
    margin-right: 50px;
}
/* ------------------------
header-section style 
-------------------------*/

.header-section{
    display:flex;
    background-color: #2D25A0;
    width:1440;
    height: 677px; 
}
.title h1{
    width: 485px;
    height: 230px;
    font-size: 64px;
    color: white;
    padding-bottom: 27px;
    /* margin: 207px 799px 240px 156px; */
    margin-top: 207px;
    margin-left: 156px;
}
.watch-button{
    width: 168px;
    height: 44px;
    color: white;
    background-color: #E02C6D;
    text-decoration: none;
    padding: 10px 24px;
    /* margin: 464px 1116px 169px 156px; */
    margin-left: 156px;
}
.fa-arrow-right{
    padding-left: 8px;
}
.header-img{
    display:flex;
    width: 557px;
    height: 438px;
    margin-top: 150px;
    margin-right: 141px;
    margin-bottom: 83px;
    margin-left: 102px;
    transition: transform 2s ease-in;

}
.header-img:hover{
    transform: rotate(-20deg);
    transform-origin:middle;
}
.ball img{
    width:50px;
    height:50px;
    position: relative;
    left: -75px;
    bottom: -140px;
    transition: transform 2s  ease-out 0.1s;
}
.header-img:hover .ball img{
    transform: translate(700px, -90px);
}
/*--------------------------
        Players styles
 -------------------------- */
 .players{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     grid-column-gap: 30px;
     grid-row-gap: 27px;

 }
 .player{
    width: 330px;
    height: 474px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
 .player img{
    width: 300px;
    height: 256px;
    padding-top:15px;
    padding-right:15px;
    padding-left: 15px;
 }
 .player-details{
     width:300px;
     height:154px;
     padding-right: 15px;
     padding-left: 15px;
     padding-bottom: 40px;
 }
 .player h3{
    width: 300px;
    height:40px;
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 16px;
 }
 .player p{
    width: 300px;
    height:104px;
    color: #6C6C6C;
    font-size: 15px;
    font-weight: 400px;
 }
/* ---------------------
       Latest Blog   
------------------------ */
.latest-blogs{
    width:50%;
    
}

.blog{
    display: flex;
    padding-bottom: 10px;
}
.blog-detail{
    padding-left: 15px;
}
.blog-detail h3{
    width:300px;
}
.blog-detail a{
    text-decoration: none;
    color:lightcoral;
}
/*-----------
 Schedule 
------------ */
.schedule-body{
    margin-left: 90px;
    margin-top: 30px;
}
.schedule-body h2{
    margin-left: 115px;
}
.schedules{
    display: flex;
    margin-left:60px;
    
}
.date-place{
    padding-right:30px;

}
.date-place h1{
    color:rgb(68, 68, 201);
    font-size: 40px;
    margin-bottom: -15px;
}
.date-place h4{
    color:rgb(125, 147, 247);
}
.button{
    margin-top: 50px;
    margin-left: -20px;
}

 /*----------------------
     Footer Style 
   ---------------------*/
.footer-area{
    /* width: 483.87px;
    height: 213px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 158px;
}
.footer-area img{
    width: 483.87px;
    height: 110px;
}
.social-icons{
    width:170px;
    height:32px;
    display: flex;
    color: gray;
    margin-top: 20px;
}
.social-icons i{
    padding: 7.47px;
    border-width: 32px;
}
.icon-body{
    width:32px;
    height:32px;
    border-radius: 16px;
    background-color: #edeff5ce;
    margin-right: 14px;
}
.copyright p{
    font-weight: 400px;
    font-size: 18px;
    margin: 20px 0px;
}
/* ----------------------------
---------Media Queries ------------
-------------------------------*/
/* Mobile Devices */
@media only screen and (max-width:688px){
    .container{
        width:100%;
    }
    
    .players{
        
        grid-template-columns: repeat(1,1fr);
    }
    .title,.player,.blogs,.blog,.second-container{
        flex-direction: column;
    }
    
    
}
/* ---------------
        Tablet   
-------------- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width:100%;
    }
    .players{
        grid-template-columns: repeat(2,1fr);
    }
    .player,.blogs,.second-container{
        flex-direction: column;
    }
    
}